body {
    font-family: "Times New Roman", Times, serif;
}

.container {
    width: 300px;
    margin-left: 200px;
    margin-top: 30px;

img {
    width: 250px;
    display block;
}

p {
    
    width: 300px;
    font-size: 16px;
    line-height: 1;
    margin-top: 3px;
    margin-bottom: 0px;
}

.red {
    color: red;
    font-weight: bold;
}

.orange {
    background-color: orange;
}

a {
    display: block;
    marigin-top: 15px;
}
